Package: linux-firmware-image-4.4.1012-2
Source: linux-4.4.1012-2
Version: 4.4.1012-2-1
Architecture: amd64
Maintainer: Anonymous <root@tna>
Installed-Size: 2102
Section: kernel
Priority: optional
Homepage: http://www.kernel.org/
Description: Linux kernel firmware, version 4.4.1012-2
 This package contains firmware from the Linux kernel, version 4.4.1012-2.
